@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
